body {
    height: 100vh;
    background: linear-gradient(#f1f1f1, #808080);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    margin: 10px;
    padding: 10px;
    font-size: 2rem;
    border: 4px solid hsla(0, 0%, 20%, 0.3);
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    width: 250px;
    box-shadow: 0 0 20px black;
}

.input:focus, .input:hover {
    border: 4px solid black;
}

#select {
    border: 4px solid hsla(0, 0%, 20%, 0.3);
    border-radius: 10px;
    padding: 5px;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    background-color: white;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 10px black;
}

#select:hover {
    border: 4px solid black;
}

button {
    border: 4px solid hsla(0, 0%, 20%, 0.3);
    border-radius: 10px;
    padding: 5px 15px;
    background-color: white;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    box-shadow: 0 0 10px black;
}

button:hover {
    border: 4px solid black;
}

.result {
    font-size: 2.5rem;
    background-color: white;
    padding: 10px 50px;
    border: 4px solid hsla(0, 0%, 20%, 0.3);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    box-shadow: 0 0 20px black;
    /* width: 200px;
    text-align: center; */
}

.copy {
    margin-top: 10px;
}

.footer {
    text-align: center;
    color: white;
    text-shadow: 0 0 20px black;
}

#by {
    font-weight: 500;
}

#ver {
    font-weight: 500;
}

h1 {
    text-shadow: 0 0 30px black;
    color: white;
}